<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: base_head('New User')">
<meta charset="ISO-8859-1">S
</head>
<body th:replace="fragments/body :: body(~{::div#form-user})">
	<div class="form" id="form-user">
		<h1>Create New User</h1>
		<form th:action="@{create}" method="post" th:object="${user}">
			<div>
				<label for="userName">Username: </label>
				<div>
					<input type="text" id="userName" th:field=*{userName}
						name="userName">
				</div>
			</div>

			<div>
				<label for="email">Email: </label>
				<div>
					<input type="text" id="email" th:field=*{email} name="email">
				</div>
			</div>

			<div>
				<button type="submit">Create User</button>
			</div>
				
			

		</form>
	</div>
</body>
</html>