<!DOCTYPE html>
<head th:replace="fragments/head :: base_head('News Feed')">
   <meta charset="ISO-8859-1">
   S
</head>
<body th:replace="fragments/body :: body(~{::div#posts})">

   <div id="posts">
      <div class="container">
      <h2>News Feed Post</h2>
      <div th:if="${posts.size == 0}" class="alert alert-danger mb-3" th:text="'No Posts available'"></div>
      <div class="list-group" th:if="${posts != null}" th:each="post : ${posts}">
      	 
         <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success" th:text="'By: @' + ${post.userName}"></div>
            <div class="card-body">
               <p class="card-text" th:text="${post.description}"></p>
            </div>
            <div class="card-footer">
		      <small class="text-muted" th:text="'Created: ' + ${post.creationDate}"></small>
		    </div>
         </div>
      </div>
      </div>
   </div>
</body>
</html>