<!DOCTYPE html>
<head th:replace="fragments/head :: base_head('Registration')">
</head>
<body th:replace="fragments/userForms :: startPage(~{::form#login-form})">
   <form id="login-form" class="form" action="" method="post">
                            	<div class="form-group">
                                    <label for="username" class="text-info">FullName:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="text" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                                </div>
                            </form>
</body>
</html>